django
gunicorn
django-heroku
pandas
jupyter
Flask
pyjson5
pip
virtualenv
python-dotenv
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
jsonschema==3.2.0
jupyter==1.0.0
MarkupSafe==1.1.1
notebook==6.3.0
numpy==1.20.2
parso==0.8.2
pbr==5.5.1
pickleshare==0.7.5
postgres==3.0.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyjson5==1.5.0
pyparsing==2.4.7
python-dotenv==0.17.0
python-editor==1.0.4
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
sklearn==0.0
SQLAlchemy==1.4.15
sqlparse==0.4.1
style==1.1.0
tabulate
virtualenv==20.4.3
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==1.0.1
